@import url('https://fonts.googleapis.com/css2?family=Puritan&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

:root{
    --title-font: 'Puritan', sans-serif;
    --main-orange: #FE9900;
    --side-orange: #EA4D22;
    --food-red: #710000;
    --light-blue: rgb(198, 255, 255);
    --main-yellow: yellow;
    --orange-web: #FFA400;
    --carolina-blue: #009FFD;
    --patrick-blue: #2A2A72;
    --raisin-blue: #232528;
    --alice-blue: #EAF6FF;
}
body {
    background-color: #ffffff;
    color: hsl(0, 0%, 20%);
}

