
.all-meals {
    padding: 15px;
    font-family: var(--title-font);
}
.all-meals .content-wrapper {
    margin: 8px 0;
    border: 2px solid #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    row-gap: 20px;
    border-radius: 10px;
    font-size: 1.2rem;
}
.all-meals .content-wrapper .content {
    display: grid;
    gap: 10px;
    margin: 0 auto 0 10px;
}
.all-meals .content-wrapper img {
    height: 100px;
    width: 100px;
    object-fit: cover;
}
.all-meals a {
    color: #333;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    font-size: 1rem;
}
.all-meals button {
    padding: 10px 15px;
    background-color: var(--main-orange);
    outline: none;
    border: none;
    border-radius: 30px;
}
.all-meals > p {
    color:var(--carolina-blue);
}